*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back{
    background:url(https://pn-paul.netlify.app/image/ourimage.jpg);
    
    height: 780px;
    width: 100%;
    background-position: center;
    background-size: cover;
    
    
    
}
  .csk{
     background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
     z-index: 1;
     padding: 10px 0px;
}
 .abc{
    display: none;
 }
    
 ul li{
      display: inline-block;
      text-transform: uppercase;
      padding: 0px 57px;
      margin-top: 19px;
      margin-left: -65px;
      
 }

   #rcb{
    border: 1px solid;
    padding: 8px;
    border-color: orange;
    margin-left: -16px;
    
      }
   
  

 ul li a{
    color: #e5e4e4;
    text-decoration: none;
    font-weight: lighter;
 }

 ul a:hover{
   background-color: orange;
   border: 1px solid orange;
   padding: 12px;
 }

 #pkb{
    margin-left: 290px;
    margin-top: 330px;
    font-family: prague;
    font-size: 70px;
    font-weight: 600;
 }
   
 .a{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
 }

 .fc{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    padding-top: 140px;
    color: white;
 }

  .c2{
    background: url(https://pn-paul.netlify.app/image/gamebanner.jpg);
    width: 100%;
   
  }

  .c6{
    line-height: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 2cm;
    color: white;
  }

   .ece{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
   .it{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
   }

   #jkj{
    line-height: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    margin-top: 20px;
    font-weight: lighter;
    padding-bottom: 2cm;
    position: relative;
    right: -15px;
}

.xyl{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;

}

.mi{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}

 .Vidal{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
 }

 #haze{
    line-height: 30px;
    word-spacing: 1px;
    font-size: 18px;
    color: #f8f9fa;
 }

 .fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
 
   